* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
}

header {
    background-color: #ffffff; 
}

nav {
    display: flex;
    justify-content: space-between;
}

header h1 {
    display: inline-block;
    text-align: left;
    padding: 15px;
    background-color: #4aaaa5;
    color: white;
}

ul li {
    display: inline-flex;
}

li a {
    text-align: right;
    text-decoration: none;
    display: block;
    padding: 15px;
}


img {
    width: 200px;
    height: 200px;
}

/*
.spacing {
    padding-left: 200px;
}


.test {
    border-bottom: solid, 20px, #666666
}

footer {
    border-top: 8px, solid, #4aaaa5;
    position: fixed;
    bottom: 0;
}
/*